{% extends 'layout.html' %}

{% block content %}
<h2>Edit Contact</h2>
<form action="/contacts/{{ contact.id }}/edit" method="post">
  <fieldset>
    <legend>Contact Values</legend>
    <p>
      <label for="email">Email</label>
      <input
        id="email"
        name="email"
        type="email"
        placeholder="Email"
        value="{{ contact.email }}"
      />
      <span class="error">{{ contact.errors['email'] }}</span>
    </p>
    <p>
      <label for="first">First Name</label>
      <input
        id="first"
        name="first"
        type="text"
        placeholder="First Name"
        value="{{ contact.first }}"
      />
      <span class="error">{{ contact.errors['first'] }}</span>
    </p>
    <p>
      <label for="last">Last Name</label>
      <input
        id="last"
        name="last"
        type="text"
        placeholder="Last Name"
        value="{{ contact.last }}"
      />
      <span class="error">{{ contact.errors['last'] }}</span>
    </p>
    <p>
      <label for="phone">Phone</label>
      <input
        id="phone"
        name="phone"
        type="text"
        placeholder="Phone"
        value="{{ contact.phone }}"
      />
      <span class="error">{{ contact.errors['phone'] }}</span>
    </p>
    <button>Save</button>
  </fieldset>
</form>

<form action="/contacts/{{ contact.id }}/delete" method="post">
  <button>Delete</button>
</form>

<p>
    <a href="/contacts">Back</a>
</p>
{% endblock %}