html
	head
		title Tasks
		style(type="text/css").
			body { margin: 2em; }
			#footer { border-top: solid 1px black; padding: 1em 0; }
	body
		h1 Tasks
		ul
			li
				a(href="tasks") tasks
			li
				a(href="tasks/1") tasks/1
		div(id="footer") Bottom
			
