{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.cognitect.aws/api       {:mvn/version "0.8.710-beta01"}
        com.cognitect.aws/endpoints {:mvn/version "1.1.12.772"}
        com.cognitect.aws/s3        {:mvn/version "869.2.1687.0"}}
 :aliases
 {:run-m {:main-opts ["-m" "cognitect-aws-api.cognitect-aws-api"]}
  :run-x {:ns-default cognitect-aws-api.cognitect-aws-api
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :build {:deps {io.github.clojure/tools.build
                 {:git/tag "v0.9.2" :git/sha "fe6b140"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :neil {:project {:name cognitect-aws-api/cognitect-aws-api}}}}
