{:deps {org.clojure/clojure         {:mvn/version "1.11.1"}
        org.clojure/clojurescript   {:mvn/version "1.12.42"}
        thheller/shadow-cljs        {:mvn/version "3.1.7"}}
 :aliases
 {:shadow-cljs {:main-opts ["-m" "shadow.cljs.devtools.cli"]}}}
