<!DOCTYPE html>
<html lang="en">

    <%- include('layouts/header'); -%>


    <body>

	<%- include('layouts/navbar'); -%>

	<!-- Page Header -->
	<header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
	    <div class="overlay"></div>
	    <div class="container">
		<div class="row">
		    <div class="col-lg-8 col-md-10 mx-auto">
			<div class="page-heading">
			    <h1>Contact Me</h1>
			    <span class="subheading">Have questions? I have answers.</span>
			</div>
		    </div>
		</div>
	    </div>
	</header>

	<!-- Main Content -->
	<div class="container">
	    <div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
		    <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
		    <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
		    <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
		    <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
		    <form action="/posts/store" method="POST" enctype="multipart/form-data">
			<div class="control-group">
			    <div class="form-group floating-label-form-group controls">
				<label>Title</label>
				<input type="text" class="form-control" placeholder="Title" id="title" name="title">
			    </div>
			</div>
			<div class="control-group">
			    <div class="form-group floating-label-form-group controls">
				<label>Description</label>
				<textarea rows="5" class="form-control" id="body" name="body"></textarea>
				<script>
				 $('#body').summernote({
				     placeholder: 'Hello bootstrap 4',
				     tabsize: 2,
				     height: 200
				 });
				</script>
			    </div>
			</div>
			<div class="control-group">
			    <div class="form-group floating-label-form-group controls">
				<label>Image</label>
				<input type="file" class="form-control" id="image" name="image" />
			    </div>
			</div>
			<br>
			<div class="form-group">
			    <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
			</div>
		    </form>
		</div>
	    </div>
	</div>

	<hr>

	<%- include('layouts/footer'); -%>
	<%- include('layouts/scripts'); -%>

    </body>

</html>
