body {
		margin: 0;
		padding: 50px;
		font-size: 10pt;
}

#box1 {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

#box2 {
		width: 100px;
		height: 100px;
		border: solid 1px black;
}
